.container{
  display: flex;
  width: 100%;
  height: 80rpx;
  background-color: #f7f7fa;
  text-indent: 20rpx;
  line-height: 80rpx;
  font-size: 60rpx;
  font-weight: bold;
  color: #000000;
  align-items: center;
  justify-content: center;
}
