
.page {
  padding: 20rpx;
}
.title {
  font-size: 36rpx;
  font-weight: bold;
  margin: 20rpx 0;
}
.list {
  margin: 20rpx 0;
}
.item {
  padding: 20rpx;
  border: 1rpx solid #eee;
  margin: 10rpx 0;
}
.item.active {
  border-color: #007aff;
  background: #f0f8ff;
}
.form {
  margin: 30rpx 0;
  display: flex;
  align-items: center;
}
.input {
  border: 1rpx solid #ccc;
  width: 200rpx;
  height: 60rpx;
  margin-left: 20rpx;
  padding: 0 10rpx;
}
.btn {
  background: #007aff;
  color: #fff;
  margin: 20rpx 0;
  width: 200rpx;
}
.err {
  color: red;
  margin: 10rpx 0;
}
.success {
  margin-top: 30rpx;
  padding: 20rpx;
  border: 1rpx solid #090;
  background: #f0fff9;
}
.success text {
  display: block;
  margin: 10rpx 0;
}